<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/b0166f9752.js" crossorigin="anonymous"></script>
    <title>Found fuelling Stations In Radius</title>
</head>
<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="workPage.html" th:href="@{http://localhost:8080/workPage}"
                       class="nav-link px-2 text-white">Home</a></li>
                <li><a href="https://www.google.com.ua/maps/" class="nav-link px-2 text-white">Google Maps</a></li>
                <li><a href="cabinet.html" th:href="@{http://localhost:8080/cabinet}"
                       class="nav-link px-2 text-white">Cabinet</a></li>
            </ul>

            <a th:href="@{http://localhost:8080/logout}" id="logout">
                <button type="button" onclick="localStorage.clear()" class="btn btn-warning">Logout</button>
            </a>

        </div>
    </div>
    </div>
</header>
<body>
<div class="fuelling_station_block" th:each="fuellingStation:${listFuellingStations}">
    <h2>Fuelling station info <span th:text="${fuellingStation.id}"></span></h2>
    <ul>
        <li>Brand <a th:href="@{/fuellingStation/{id} (id=${fuellingStation.id})}"><span
                th:text="${fuellingStation.providerOrBrand}"></span></a></li>
        <li>Address: <span th:text="${fuellingStation.address}"></span></li>
        <li>Number of Pumps: <span th:text="${fuellingStation.numberOfPumps}"></span></li>
        <li>Longitude and latitude: <span th:text="${fuellingStation.longitude}"></span>;<span th:text="${fuellingStation.latitude}"></span> </li>
    </ul>
</div>

</body>
</html>