<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FULL TANK</title>
    <link rel="stylesheet" href="../static/style/main.css}">
</head>
<body>
<div class="general_container">
    <div>
        <h1>Full Tank</h1>
        <video id width="480" autoplay muted src="../static/video/video1.mp4">
        </video>
        <div >
            <a href="registration.html" th:href="@{http://localhost:8080/registration}">Registration</a>
            <a href="login.html" th:href="@{http://localhost:8080/login}">Sign in</a>
        </div></div>
</div>
</body>
</html>