<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/style/workPage.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/b0166f9752.js" crossorigin="anonymous"></script>
    <title>Work Page</title>
</head>
<body>
<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="workPage.html" th:href="@{http://localhost:8080/workPage}"
                       class="nav-link px-2 text-white">Home</a></li>
                <li th:if="${user.role=='ADMIN'}">
                    <a href="registrationFS.html" th:href="@{http://localhost:8080/fuellingStation/registration}"
                       class="nav-link px-2 text-white">Create Fuelling Station</a></li>
                <li><a href="https://www.google.com.ua/maps/" class="nav-link px-2 text-white">Google Maps</a></li>
                <li><a href="cabinet.html" th:href="@{http://localhost:8080/cabinet}"
                       class="nav-link px-2 text-white">Cabinet</a></li>
            </ul>


            <div class="text-end">
                <span hidden id="login">
                    <a href="login.html">
                        <button type="button" class="btn btn-outline-light me-2">Login</button>
                    </a>

                    <a href="registration.html">
                        <button type="button" class="btn btn-warning">Registration</button>
                    </a>
                </span>

                <a th:href="@{http://localhost:8080/logout}" id="logout">
                    <button type="button" onclick="localStorage.clear()" class="btn btn-warning">Logout</button>
                </a>

            </div>
        </div>
    </div>
</header>
<div>
    <p>Click the button to get your coordinates</p>

    <!--    <a href="foundFuellingStationPage.html" th:href="@{http://localhost:8080/fuellingStation/stations}">-->
    <button onclick="getLocation()" class="btn btn-warning">Geolocation</button>
    <!--    </a>-->

    <label for="radius"><b>If you need, enter radius</b></label>
    <input type="number" placeholder="Enter Radius" name="radius" id="radius" value="0" required>

</div>

<script>

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            alert("Geolocation is not supported by this browser.");
        }
    }

    function showPosition(position) {
        let latitude = position.coords.latitude;
        let longitude = position.coords.longitude;
        let radius = document.getElementById("radius").value;

        const url = 'http://localhost:8080/fuellingStation/stations?latitude=' + latitude + '&longitude=' + longitude +
            '&radius=' + radius;
        window.open(url,"_self");
        // fetch(url, {method: 'GET'});

    }
</script>


</body>
</html>